<!DOCTYPE html>
<html>

<head>
	<title>Chat room</title>
	<script src='/javascripts/chatClientBundle.js'></script>
	<link rel='stylesheet' href='/stylesheets/chat.css' />
</head>

<body>
	<header id='header'>
		<div>
			<p>Hello <span id='yourName'><%= name %></span></p>
			<img src='<%= image %>' id='profilePic'>
		</div>
		<button id='btn'>Log out</button>
	</header>
	<div id='main'>
		<div id='chatDiv'>
			<div id='chatSpace'>
			</div>
			<br>
			<input type='text' name='msg' id='messageSpace' placeholder='Say something...'>
		</div>
		<div id='usersDiv'>
			<div class='users'>
				proba
			</div>
			<div class='users'>
				proba
			</div>
		</div>
	</div>
	<footer id='footer'>
		<p id='footerMsg'>Peer to peer chats go here!</p>
	</footer>
</body>

</html>
