<!DOCTYPE html>
<html>

<head>
	<title>Chat room</title>
	<script src='/javascripts/chatClientBundle.js'></script>
	<link rel='stylesheet' href='/stylesheets/chat.css' />
</head>

<body>
	<header id='header'>
		<div>
			<p>Hello <span id='clientName'><%= name %></span></p>
		</div>
		<button id='btn'>Log out</button>
	</header>
	<div id='main'>
		<div id='imageDiv'>
			<img src='<%= image %>' id='profilePic'>
		</div>
		<div id='logoDiv'><img src='/images/chatLogo.png'></div>
		<div id='chatDiv'>
			<div id='chatSpace'>
			</div>
			<div class='smileySpace'></div>
			<input type='text' name='msg' id='messageSpace' placeholder='Say something...'>
		</div>
		<div id='usersDiv'>
			<!-- active users go here-->
		</div>
	</div>
	<footer id='footer'>
	</footer>
</body>

</html>
