<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<script src='/javascripts/indexClient.js'></script>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
	<div id='signIn'>
		<h1 id='title'><%= title %></h1>
		<div id='signInBox'>
			<label for="name">User name:</label>
			<input type="text" name="name" id="name">
			<br> 
			<label for='password'>Password:</label>
			<input type="password" name="password" id="password">
			<br>

			<div id='buttonDiv'>
				<button id="logInButton">Log in</button>
				<button id='signInButton'>Sing in</button>
			</div>
			<br>
		</div>
		
		<br>

		<p id='message'><%= message %></p>
	</div>
</body>

</html>
