<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<script src='/javascripts/signinClient.js'></script>
	<link rel='stylesheet' href='/stylesheets/signin.css' />
</head>

<body>
	<div id='formSignIn'>
		<h1><%= instruction %></h1>
		<p id='message'><%= message %></p>
		<form action='http://192.168.8.101:3000/login' method='POST' enctype='multipart/form-data' id='signinForm'>
			<label for='username'>Name:</label>
			<input type='text' name='username' id='username' required autofocus>
			<br>
			<label for='password'>Password:</label>
			<input type='password' name='password' id='password' required>
			<br>
			<label for='password2'>Repeat password:</label>
			<input type='password' name='password2' id='password2' required>
			<br>
			<label for='image'>Picture:<dev id='imagePreview'></dev></label>
			<input type='file' name='image' id='image' accept='.jpg, .jpeg, .png' required>
			<a href='#' id='imageLink'>Upload your profile picture</a>
			<br>
			<label for='email'>Email:</label>
			<input type='email' name='email' id='email' placeholder='name@example.com' required>
			<br>
			<fieldset>
				<legend>Gender:</legend>
				<label for='male'>male</label>
				<input type="radio" name='gender' id='male' checked>
				<label for='female'>female</label>
				<input type="radio" name='gender' id='female'>
			</fieldset>
			<br>
			<label for='birthdate'>Date of birth:</label>
			<input type='date' name='birthdate' id='birthdate' value='2000-01-01' min='1920-01-01' max='2000-01-01'>
			<br><br><br>
			<input type='submit' name='submit' id='submit' value='Submit'>
		</form>
	</div>
</body>

</html>
