body {
	position: absolute;
	padding: 0;
    height: 98%;
    width: 98%;
    background-color: rgb(202, 200, 200)
}
//--------------------------------header--------------------------------//
#header {
	display: flex;
	justify-content: space-between;
	p span {
		.box();
		font-weight: bold;
	}
}

#btn {
	height: 40px;
}
//--------------------------------main--------------------------------//
#main {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	height: 65%;
    width: 100%;
}

#imageDiv {
	position: fixed;
	left: 0.5%;
	top: 7%; 
}

#profilePic {
	.picture(100px; 100px;);
}

#chatDiv {
	.box();
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	max-width: 50%;
	background-color: royalblue;
	border-right-width: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#chatSpace {
	.box();
	flex-grow: 1;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.msg {
	position: relative;
	min-width: auto;
	max-width: 80%;
	padding: 5px;
	margin: 2px;
    clear: both;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

#messageSpace {
	.box();
	border-top-width: 0;
    background-color: khaki;
    text-align: right;
}

#usersDiv {
	.box(2px;0px);
	display: flex;
	flex-direction: column;
	flex-basis:10%;
	border-left-width: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: royalblue;
}

.users {
	.box(@width:0px;@padding:5px);
	display: flex;
	justify-content: center;
	text-align: center;
	align-content: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.users:hover {
	box-shadow: inset 0 0 0 5px #53a7ea;
}

.activeUsersPic {
	.picture(30px; 30px);
	margin: 1vh;
}

.activeUsersName {
	flex-grow: 4;
	//vertical-align: middle;
}
//--------------------------------footer--------------------------------//
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1%;
	background: rgb(71, 71, 71);
}

.singleChat {
	.box();
	background-color: white;
	position: fixed;
	left: 0;
	bottom: 1%;
	width: 220px;
	height: 260px;
	.singleChatTopBar {
		.box(0;0;0);
		display: flex;
		justify-content: flex-end;
		padding-left: 2%;
		padding-right: 2%;
		border-bottom-width: 2px;
		background-color: royalblue;
		position: absolute;
		top: 0;
		left: 0;
		height: 5%;
		width: 96%;
		color: white;
		font-size: 80%;
		animation-name: none;
		animation-duration: 0.3s;
		.singleChatLabel {
			margin-right: auto;
			font-weight: bold;
			font-family: Arial, Helvetica, sans-serif;
		}
		.closeBtn, .minimizeBtn {
			border-radius: 100%;
			width: 20px;
		}
		.closeBtn:hover {
			background-color: red;
		}
		.minimizeBtn:hover {
			background-color: orange;
		}
	}
	.singleChatSpace {
		.box(@width:0;@padding:1%;);
		position: relative;
		top: 15px;
		height: 220px;
		overflow-y: scroll;
	}
	.singleMessageSpace {
		.box(@padding:2%);
		padding-bottom: 0;
		border-left: 0;
		border-right: 0;
		background-color: khaki;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 5%;
		width: 96%;
		text-align: right;
	}
}

.singleChatMinimized {
	.box();
	background-color: white;
	position: fixed;
	left: 0;
	bottom: 1%;
	width: 220px;
	height: 7px;
	.singleChatTopBar {
		.box(0;0;0);
		display: flex;
		justify-content: flex-end;
		padding-left: 2%;
		padding-right: 2%;
		border-bottom-width: 2px;
		background-color: rgb(167, 155, 155);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 96%;
		font-size: 80%;
		.singleChatLabel {
			margin-right: auto;
			color: white;
			font-weight: bold;
			font-family: Arial, Helvetica, sans-serif;
		}
		.closeBtn, .minimizeBtn {
			border-radius: 100%;
			width: 20px;
			display: none;
		}
		.closeBtn:hover {
			background-color: red;
		}
		.minimizeBtn:hover {
			background-color: orange;
		}
	}
	.singleChatTopBar:hover {
		background-color: orange;
		.singleChatLabel {
			color: rgb(51, 51, 51);
		}
	}
	.singleChatSpace {
		.box(@width:0;@padding:1%;);
		position: relative;
		top: 15px;
		height: 220px;
		overflow-y: scroll;
	}
	.singleMessageSpace {
		.box(@padding:2%);
		border-left: 0;
		border-right: 0;
		background-color: khaki;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 5%;
		width: 96%;
		text-align: right;
		display: none;
	}
}
/******************************** mixins ********************************/

.box(@width:2px; @padding:5px; @margin:0px) {
	border-style: solid;
    border-width: @width;
	border-color: black;
	padding: @padding;
	margin: @margin;
}

.float(@float; @backcolor; @color:black) {
	float: @float;
	text-align: justify;
	background-color: @backcolor;
	color: @color;
	border-radius: 10px;
}

.msgLeft {
	.msg();
	.float(left, rgb(51, 61, 121), white);
}

.msgRight {
	.msg();
	.float(right,rgb(59, 158, 84), white);
}

.picture(@width; @height) {
	width: @width;
	height: @height;
	border: 2px double black;
	border-radius: 10px;
}

@keyframes lightUp {
	from {
		background-color: royalblue;
		color: white;
	}
	to {
		background-color: cyan;
		color: black;
	}
}
