body {
  position: absolute;
  padding: 0;
  height: 98%;
  width: 98%;
  background-color: gray;
}
#main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  height: 78%;
  width: 100%;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header p span {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 5px;
  margin: 0px;
  font-weight: bold;
}
#footer {
  clear: both;
}
#chatDiv {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 5px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-width: 50%;
}
#chatSpace {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 5px;
  margin: 0px;
  flex-grow: 1;
  background-color: white;
  overflow-x: hidden;
  overflow-y: visible;
}
#messageSpace {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 5px;
  margin: 0px;
  background-color: khaki;
  text-align: right;
}
#usersDiv {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  border-left-width: 0;
}
.users {
  border-style: solid;
  border-width: 0px;
  border-color: black;
  padding: 0px;
  margin: 2px;
  text-align: center;
}
.msg {
  position: relative;
  min-width: auto;
  max-width: 40%;
  padding: 5px;
  clear: both;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
#profilePic {
  height: 100px;
  width: 100px;
}
#btn {
  height: 40px;
}
/* mixins */
.msgLeft {
  position: relative;
  min-width: auto;
  max-width: 40%;
  padding: 5px;
  clear: both;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  float: left;
  text-align: justify;
  background-color: #333d79;
  color: white;
  border-radius: 10px;
}
.msgRight {
  position: relative;
  min-width: auto;
  max-width: 40%;
  padding: 5px;
  clear: both;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  float: right;
  text-align: justify;
  background-color: #237738;
  color: white;
  border-radius: 10px;
}
